p {
  color:#000000;/* цвет текста */
  font-size: 16px;/* размер шрифта */
  background-color: #FFFFFF;/* Цвет фона */
  border: 1px solid #000000;/* рамка. параметры по порядку- толщина, тип(сплошная/прирывистая), цвет */
  margin: 10px;/* внешние отступы */
  margin-left/right/top/bottom: 10px;/* внешние отступы от какой-то одной стороны */
  pedding: 10px;/* внутренние отступы */
  pedding-right/left/top/bottom: 10px; /* внутренние отступы с какой-либо из сторон */
  background-image: url(адрес картинки относительно css файла);/* задний фон */
  border-radius: 35px;/* закругление углов рамки */
  opacity: 0; /* прозрачность элемента(значения от 0 до 1) */
  box-shadow: 3px 3px 7px black;/* Тень от предмета. 1- сдвиг по ОХ. 2- сдвиг по ОУ. 3- Размытие тени. 4- цвет */
  width: 50%;/*ширина*/
  height: 50%;/*высота*/
  display: block;/* видимость элемента */
  text-align: left;/* выравнивание текста */
  font-weight: 400;/* жирность шрифта */
  transform: rotate(90deg);/*scale(0.3). Трансформация элемента(rotate- вращать, scale- изменить размер)  */
  transition: 5s "изменяемое свойство";/* время исполнения трансформа */

  /* Ресурсы для изучения: 1- http://www.w3school.com/cssref , 2- http://www.ruseller.com/shporacss.php */



}
