Селекторы:
  -по имени тэга /*в начало записывается название тэга без каких-либо
  дополнительных символов.Это меняет все тэги такого типа*/
    a{
      color:#FF0000;
    }
  -по атрибуту идентификатора /* пишем "#" а затем имя идентификатора, которое дали нужному тэгу */
    #ItemId{
      color:lime;
    }
  -по классу /* пишем "." а затем  пишем имя класса, которое дали нужным нам элементам */
  .classname{
    color:rgb(0, 0, 255);
  }
